.simple-keyboard {
  padding: 50px 30px 30px 30px;
  width: 300px;
}

.keyboard-container {
  position: fixed;
  top: 20%;
  left: 30%;
  z-index: 1000;
}

.keyboard-close-button {
  position: absolute;
}
