.simple-keyboard {
  padding: 50px 30px 30px 30px;
  width: 320px;
}

.keyboard-container {
  position: fixed;
  top: 44%;
  left: 35%;
  z-index: 1000;
}

.keyboard-close-button {
  position: absolute;
}
